{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
      <br>
      <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="text-small nav-link active" >RECOMMENDED</a>
              </li>
      </ul>
      <div class="row msa_margin_buttom background-white">
  {% for destination in destinations %}
          <div class="col-12 col-sm-6 col-lg-4 card-deck">
              <a class= "remove-underline" href="{% url 'destination-detail' destination.id %}">                      
                    <div class="card-ms card-list-onhover card box-shadow my-animate">
                          <img class="card-img-top-ms card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="text-dark card-title">{{destination.name}}</h5>
                                <p class="text-secondary card-text">{{destination.activities}}</p>
                          </div>
                  </div>
              </a>
          </div>
  {% endfor %}
      </div>
{% endblock content %}