{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update{% endblock title %}

{% block content %}
 <br>
      <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="text-small nav-link active" >Updating Destination</a>
              </li>
      </ul>
  <form class="padding-left-r-form background-white msa_margin_buttom" action="{% url 'destination-update' destination_obj.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}

  <button type="submit" class="btn btn-primary margin-top my-animate" > Update <i class="fas fa-pen"></i> </button>

</form>
{% endblock content %}